*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    min-height: 100vh;
}
/* top+portion */
.top{
    width: 100%;
    min-height: 60vh;
    background-image: url("./assets/summerday-in-village.png");
    background-size: cover;
    background-position: center;
}
.overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.300);
}
.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10hv;
    color: white;
    bottom: 5%;
}
.text h1 {
    font-weight: 600;
    font-size: 4vw;
}
.text .image {
    background-image: url("./assets/kidsplayingingreenvalley.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 30%;
}
.rtext {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.rtext p{
    font-size: 15px;
}
/* bottom_portion */
.bottom {
    display: flex;
    width: 100%;
    min-height: 40hv;
    background-color: aquamarine;
}
.b1{
    width: 35%;
    min-height: inherit;
    background-image: url("./assets/sunset-in-village.png");
    background-size: cover;
    background-position: center;
}
.b1 h1 {
    text-align: center;
    padding: 30px;
}
.b1 p {
    color: white;
    text-align: center;
    padding: 15px;
}
.b2{
    width: 35%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.b2 .up{
    width: 100%;
    min-height: 20vh;
    background-image: url("./assets/sunny-day-in-village.png");
    background-size: cover;
    background-position: center;
}
.b2 .up h1 {
    text-align: center;
    padding: 30px;
}
.b2 .up p {
    color: white;
    text-align: center;
    padding: 15%;
}
.b2 .down {
    width: 100%;
    min-height: 20vh;
    background-image: url("./assets/moonlit-night-in-village.png");
    background-size: cover;
    background-position: center;
}
.b2 .down .overlay {
    position: relative;
    width: 100%;
    min-height: 25vh;
    background-color: rgba(255, 255, 255, 0.101);
}
.b2 .down .overlay h1 {
    text-align: center;
    padding: 30px;
}
.b3{
   width: 30%; 
   min-height: inherit;
   background-image: url("./assets/Img2.jpg");
   background-size: cover;
   background-position: center;
}
.b3 .overlay {
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 50%;
    padding: 4vw 5vh;
    background-color: none;
}
.b3 .overlay p {
    padding: 1.2vh;
}
@media(max-width: 500px) {
    .text{
        flex-direction: column;
        align-items: center;
    }
    .text h1 {
        font-size: 5vh;
    }
    .text .image {
        height: 200px;
        width: 140px;
        margin-top: 20px;
    }
    .rtext{
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext {
        margin-top: 10px;
    }
    .icons {
        margin-top: 10px;
    }
    .bottom {
        flex-direction: column;
        align-items: flex-start;
    }
    .b1 {
        width: 100%;
        min-height: 30vh;
    }
    .b2 {
        width: 100%;
    }
    .b3 {
        width: 100%;
        min-height: 30vh;
        background-position: left;
    }
    .b2 .up {
        min-height: 30vh;
    }
}